@model SE.WebApp.MVC.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ops! An error occured, but don't worry, our team will be notified and soon this will be corrected!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }
}
